@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    background-color: rgb(246, 244, 244);
    font-family: sans-serif;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Ensure the modal appears on top */
    border-radius: 12px; /* Set the border radius for the modal */
    transition: backdrop-filter 0.3s ease-in-out; /* Add a transition for a smoother effect */
}

.blur-bg {
    backdrop-filter: blur(3px); /* Set the backdrop-filter effect when modal is open */
}
